
body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner {
    background-image: url(img/banner1.jpg); /* Ruta de la imagen */
    background-size: cover;
    background-position: top; /* Ajusta la imagen para cubrir todo el banner */
    width: 100%; /* Ancho del banner al 100% de la página */
    height: 500px; /* Altura del banner, puedes ajustarla según tus necesidades */
    /* Otros estilos del banner */
}


.card-img-top {
    width: 100%;
    height: 400px; /* Ajusta la altura según tu preferencia */
    object-fit: cover; /* Evita que las imágenes se distorsionen */
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
}

/* Agrega efecto de zoom al pasar el mouse */
.card-img-top:hover {
    transform: scale(1.1);
}




